#movieInfo {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;

    border: 1px solid #9e9e9e;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #4a4a4a;
}

#ratingContainer {
    position: relative;
    right: 25px;

    display: flex;
    align-items: center;
}

.gauge {
    position: relative;
    width: 100px;
    height: 100px;
}

.gauge img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#progress {
    position: absolute;
    margin-bottom: 13%;
    width: 34%;
    height: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: green;
    transition: height 1s ease;
}

#voteAverage {
    font-size: 1.5rem;
    font-weight: 600;
}

#swiper {
    position: relative;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
}

.none-trailer {
    position: relative;
    height: 300px;
}

.none-trailer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media all and (max-width: 575px) {
    #trailer {
        height: 300px
    }

    #movieInfo {
        display: flex;
        flex-direction: column;
        border: unset;
        border-radius: unset;
        box-shadow: unset;
    }
}

/* 가로모드 모바일 디바이스 */
@media all and (min-width: 576px) and (max-width: 767px) {
    #trailer {
        height: 400px
    }
}

/* 태블릿 디바이스 */
@media all and (min-width: 768px) and (max-width: 991px) {
    #trailer {
        height: 500px
    }
}

/*태블릿 디바이스*/
@media all and (min-width: 991px) and (max-width: 1200px) {
    #trailer {
        height: 600px
    }
}