body {
    position: relative;
}

#genreBtns {
    text-align: center;
}

#genreBtns button {
    width: 103px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #676767;
    background-color: #fdfdfd;
    margin-bottom: 1rem;
}

#genreBtns button:hover {
    background-color: #d6d6d6;
}

#genreBtns button.selected {
    background-color: #d6d6d6;
}

body.dark-mode #genreBtns button {
    background-color: #171717;
    border: 1px solid #9c9c9c;
    color: #cfcfcf;
}

body.dark-mode #genreBtns button:hover {
    background-color: #373737;
}

body.dark-mode #genreBtns button.selected {
    background-color: #373737;
}

#sortSelect {
    position: absolute;
    right: 0;

    background-color: #e3e3e3;
    border-radius: 5px;
    padding: 0.5rem;
    border: none;
}
body.dark-mode #sortSelect {
    background-color: #171717;
    border: 1px solid #9c9c9c;
    color: #cfcfcf;
}

#movies {
    padding-top: 3rem;
}