.main-img-container {
    position: relative;
    width: 100vw;
    height: 600px;
    background: url("https://images.pexels.com/photos/7991259/pexels-photo-7991259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") fixed;
    background-size: cover;
}

.main-img-container .text {
    position: absolute;
    top: 40%;
    left: 10%;
}

.popularity-TOP-10 {
    position: relative;
}

#swiper {
    position: relative;
    overflow: hidden;
}

.swiper-slide {
    overflow: hidden;
    border-radius: 10px;
}

.swiper-slide img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #4a4a4a;
    transition: transform 0.3s ease; /* 부드러운 확대 효과를 위해 전환을 설정합니다. */
}

.swiper-slide img:hover {
    transform: scale(1.1); /* 마우스 오버 시 이미지를 1.1배 확대합니다. */
}

/* 세로모드 모바일 디바이스 */
@media all and (max-width: 575px) {
    #movies {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-img-container {
        background: url("https://images.pexels.com/photos/7991259/pexels-photo-7991259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
        height: 350px;
        background-size: cover;
    }
}

/* 가로모드 모바일 디바이스 */
@media all and (min-width: 576px) and (max-width: 767px) {
    #movies {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-img-container {
        background: url("https://images.pexels.com/photos/7991259/pexels-photo-7991259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
        height: 400px;
        background-size: cover;
    }
}

/* 태블릿 디바이스 */
@media all and (min-width: 768px) and (max-width: 991px) {
    #movies {
        grid-template-columns: repeat(3, 1fr);
    }

    .main-img-container {
        background: url("https://images.pexels.com/photos/7991259/pexels-photo-7991259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
        height: 500px;
        background-size: cover;
    }
}

/*태블릿 디바이스*/
@media all and (min-width: 991px) and (max-width: 1200px) {
    .main-img-container {
        height: 500px;
    }
}

/*데스크탑*/
@media all and (min-width: 1201px) {
}
