main {
    position: relative;
}

.main-img-container {
    width: 100vw;
    height: 600px;
    background: url("https://images.pexels.com/photos/7991259/pexels-photo-7991259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") fixed;
    background-size: cover;
}

.main-img-container .text {
    position: absolute;
    top: 300px;
    left: 150px;
}

.popularity-TOP-10 {
    position: relative;
}

#swiper {
    position: relative;
    overflow: hidden;
}

.swiper-slide {
    overflow: hidden;
    border-radius: 10px;
}

.swiper-slide img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #4a4a4a;
    transition: transform 0.3s ease; /* 부드러운 확대 효과를 위해 전환을 설정합니다. */
}

.swiper-slide img:hover {
    transform: scale(1.1); /* 마우스 오버 시 이미지를 1.1배 확대합니다. */
}